/* #victor1
{
    border: 4px solid red;
    background-color: brown;
    height: 50px;
    padding-top: 15px;
}

#menu
{
    border: 3px solid;
    

}
ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    list-style: none;
} */
/* ul li a
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: block;
    width: 120px;
    margin:5px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: brown;
    text-decoration: line-through;
}
ul li a:hover
{
    background-color: orange;
    color: blue;
} */
/* #victor1 ul
{
text-align: center;
text-decoration: none;

}
#victor1 li{
    display:inline;
    padding: 16px;
    vertical-align: middle;
}
#victor1 a
{
    text-decoration: none;
    color: white;
    
}
#victor1 a:hover
{
    background-color: orange;
} */
.container p
{
  color: white;
}

.container
{
    background-color: goldenrod;
    margin: 20PX;
}
.container a:hover
{
  color:brown;
}
.carousel-item {
    height: 800px; /* Adjust height as needed */
    margin-bottom: 40PX;
  }
  .blog-post{
    margin-bottom: 30px;
    margin: 40px;
    
  }
  .blog-post  img{
    max-width: 100%;
    height: auto;
  }
  .btn btn-warning a :hover{
    background-color:gray;
  }
  .chi
{
    background-color: goldenrod;
}
.chi1
{
    color: bisque;
}
.dog
{
   text-align: center;
   color: goldenrod;
   background-color: goldenrod;
   margin-top: 20px;
   
  
}
.dog button
{
  border-radius: 50px;
   padding: 10px 20px;
}


.button
{
    background-color: goldenrod;
    border-radius: 50px;
   padding: 10px 20px;
   text-align: center;
}
.button :hover
{
  color: goldenrod;
}

.testimonial {
    text-align: center;
    color: white;
  }
  .testimonial :hover
  {
    color:white;
  }
  
  .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:10px
  }
  
  .client-name {
    font-weight: bold;
    color: blue;
   
  }
  .carousel-item
  {
    background-color: black;height: 210px;
  }
 .card-text
 {
  color: black;
 }
 .nonso
 {
  text-align: center;
  margin: 7px;
 }

 .nonso1
 {
  text-align: center;
 }
.nonso2{
  text-align: center;
  color: black;
}
.nonso2 :hover
{
  color:rgb(255, 238, 0);
  background-color: goldenrod;
}
.nonso6
{
  text-align: center;
  margin: 15px;
}
.bag1
{
text-align: center;
margin: 20PX;
}
.bag1 :hover
{
color: goldenrod;
}
.nonso7
{
 font-weight: 400;
 font-style:normal;
margin: 70px;
text-align:justify;
float: left;

}
.nonso9
{
  margin: 7px;
}
.nonso10
{
  margin: 9px;
}
.nonso11
{
  text-decoration: underline;
}
.nonso12
{
float: right;
margin: 70px;
font-weight: 400;
 font-style:normal;
 text-align:left;
 text-align: justify;
}
.nonso14
{
  text-decoration: underline;
}

.rotated-text {
  transform:rotateX('angle'); /* Rotate text 90 degrees counter-clockwise */
  transform-origin: left top; /* Set rotation origin to the top-left corner */
  position: absolute; /* Position text absolutely */
  top: 50%; /* Position text vertically in the middle */
  left: -30px; /* Adjust position from the left */
  white-space: nowrap; /* Prevent text from wrapping */
}


#footer1
{
  position: absolute;
  top: 6100px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
#footer_position
{
  position: absolute;
  top: 5500px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
#footerbbq
{
  position: absolute;
  top: 2000px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
.list
{
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.para
{
  text-align: center;
  margin: 8px;
}
#superclubfooter
{
  position: absolute;
  top: 3600px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
.order
{
  text-align: center;
  margin: 20px;
}
.oderbutton
{
  text-align: center;
}
.time
{
  text-align: center;
  margin: 4px;
}
#oderonline
{
  position: absolute;
  top: 900px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
#special
{
  position: absolute;
  top: 1400px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
#lunch
{
  position: absolute;
  top: 1000px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}
.class
{
  background-color: none;
}
#giftfooter
{
  position: absolute;
  top: 1000px;
  background-color: black;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
}